@import './../../scss/_sizes';
@import './../../scss/_colors';

.mainNavigation {
    display: flex;
    flex-direction: row;
    height: $mainNavigationHeight;
    line-height: $mainNavigationHeight;
    justify-content: space-between;
    @include colorsSecondary;
    align-items: center;

    &.login {
        @include colorsPrimary;
    }

    .brand {
        height: $mainNavigationHeight;
        width: 250px;
        @include colorsSecondary;
        padding: $standardSpace 0;

        img {
            height: 100%;
            margin: 0 auto;
        }
    }

    .options {
        padding-right: $standardSpace * 2;

        ul {

            li {
                
                a {
                    display: block;
                    cursor: pointer;
                    transition: $mainTransition;
                    padding: 0 $standardSpace * 2;
                    height: calc($mainNavigationHeight - $standardSpace * 2);
                    line-height: calc($mainNavigationHeight - $standardSpace * 2);
                    border-radius: $mainRadius;

                    &:hover {
                        @include colorsPDark(0.5);
                    }
                }
            }
        }
    }

}